@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ephesis&family=Montserrat:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&family=Tomorrow:ital,wght@0,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ephesis&family=Montserrat:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&family=Tomorrow:ital,wght@0,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: white;
    font-family: poppins;
    
}


body::-webkit-scrollbar {
    width: 1.4rem;
            
  }
  
  body::-webkit-scrollbar-track {
    background: #1c1c1c;  
       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blueviolet;    
    border: 3px solid #000; 
  }









.containerHeader{
    position: fixed;
    background-color: #1c1c1c;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid rgb(238, 238, 238);
}

.containerHeader header{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}

.containerHeader h1{
    font-family: dancing script;
    text-align: center;
    
    
}



.containerHeader nav ul li{
    display: inline;
    padding: 40px;

}

.containerHeader nav ul li a{
    text-decoration: none;
    color: white;
    
}

.containerHeader a:hover{
    color: purple;
}

.containerBody h1{
    font-size: 30px;
    font-family: dancing script;
    
}

.containerBody{
  padding-top:170px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(black,blueviolet, black);
  height: 100vh;
}

.containerBody p{
    width: 400px;
}

.containerBody img{
    border-radius: 50%;
}



.containerBody button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: blueviolet;
    color: white;
    transition: all 0.5s;
    margin-left: 8.1rem;
    cursor: pointer;
}

.containerBody button:hover{
    padding: 15px;
}

.containerBody a{
    text-decoration: none;
    color: white;
}

.containerSub{
    color: black;
    padding-top: 50px;
    text-align: center;
}

.containerSub h1{
    font-size: 30px;
}

.containerSub article img{
    border-radius: 80px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

.containerCont{
    color: rgb(255, 255, 255);
    padding-top: 50px;
    background-image: linear-gradient(black,blueviolet, black);
    width: 100;
    text-align: center;
}

.containerCont h1{
    text-align: center;
    font-size: 30px;
}

.containerCont article{
    color: white;
    text-align: center;
   
}

.containerCont div p{
    padding-left: 150px;
    padding-right: 150px;
   
    
}


@media screen and (max-width:600px) {
    .containerHeader ul li a{
       display: none;
    }
    
    .containerHeader h1{
        position: absolute;
    }

    .containerBody{
        text-align: center;
        flex-direction: column-reverse;
        height: 700px;
        padding-top: 140px;
        justify-content: center;
        align-items: center;
    }

    .containerBody p{
        width: 300px;
    }

    .containerBody img{
        width: 170px;
    }

    .containerCont div p{
        display: none;
    }

    .containerSub article img{
        width: 150px;
    }
}